
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-gap: 15px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover {
    background-color: #dddddd;
    border-radius: 15%;
    padding: 10px;
}

.header__nav {
    border-bottom: black 1px solid;
}


.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
 }

.header__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    font-size: 15px;
}


.search__nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    gap:5px;
}

.search_label {
    align-self: center;
}

.search_input {
    width: 300px;
    font-size: 15px;
    height: min-content;
    align-self: center;
}

.search_submit {
    background-color: #4CAF50;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 10%;
    font-size: 15px;
}

.search_submit:active {
    background-color: #45a049;
}

.login__nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.section_middle {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
}

.section_outer {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
}

.filter_sort {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 500px;
    border: black 1px solid;
}



.auth-form {
    align-self: center;
    justify-self: center;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    width: 400px;
    align-items: center;
}

.input_form {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.auth-form-button {
    background-color: #4CAF50;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 10%;
    font-size: 20px;
    width: min-content;
    margin-bottom: 10px;
    margin-top: 10px;
}

.database-table-button:active {
    background-color: #45a049;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    justify-self: center;
    align-self: start;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 14px;

}

.grid-item {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 1px solid #ccc;
    justify-items: center;
    align-items: center;
}

.edit-button {
    display: none;
}

.grid-item:hover .edit-button, .edit-button:hover {
    display: inline-block;
}

.table-header {
    font-weight: 800;
    font-size: 15px;
}

.genre-header {
    grid-column: span 3;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    height: min-content;
    border-bottom: black 1px solid;
}

.genre-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-item-genre {
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    justify-self: center;
}

.grid-container-genres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    padding: 10px;
    height: min-content;
    width: 100%
}

.grid-header-a {
    background-color: #4CAF50;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 10%;
    font-size: 20px;
    width: min-content;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: center;
}



.grid-header-a:hover {
    background-color: #4CAF50;
    border-radius: 10%;
}

.grid-header-a:active {
    background-color: #45a049;
}

.genre-a {
    text-decoration: underline;
    color: blue;
}

.genre-a:hover {
    color: dodgerblue;
    background-color: transparent;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #45a049;
    color: white;
}

.footer-links {
    color: white;
    height: min-content;
}
.footer-links:hover {
    background-color: #4CAF50;
}