
a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

a:hover {
    background-color: #dddddd;
    border-radius: 15%;
    padding: 10px;
}

.header__nav {
    border-bottom: black 1px solid;
}


.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
 }

.header__list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    font-size: 20px;
}

.search_form {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 5px

}

.search_input {
    width: 300px;
    font-size: 20px;
}

.search_submit {
    background-color: #4CAF50;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 10%;
    font-size: 20px;
}

.search_submit:active {
    background-color: #45a049;
}

.login__nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.auth-form {
    margin-top: 300px;
    justify-self: center;
    border: black 2px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    width: 400px;
    align-items: center;
}

.input_form {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
}

.auth-form-button {
    background-color: #4CAF50;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 10%;
    font-size: 20px;
    width: min-content;
    margin-bottom: 10px;
    margin-top: 10px;
}

.database-table-button:active {
    background-color: #45a049;
}