<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <title>Календарь релизов ИД "Инженерия Данных"</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/style.css" th:href="@{/styles/style.css}">
    <script src="../static/scripts/script.js" th:src="@{/scripts/script.js}"></script>
</head>
<body>
<header class="header__nav">
    <nav class="nav__list">
        <ul class="header__list">
            <li>
                <a href="/">
                    Главная
                </a>
            </li>
            <li>
                <a href="/books">
                    Книги
                </a>
            </li>
            <li>
                <a href="/authors">
                    Авторы
                </a>
            </li>
            <li>
                <a href="/series">
                    Серии
                </a>
            </li>
            <li>
                <a href="/genres">
                    Жанры
                </a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN')">
                <a  href="/users">
                    Пользователи
                </a>
            </li>
            <li sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
                <a href="/metrics">
                    Метрики
                </a>
            </li>
        </ul>
        <form class="search__nav">
            <label class="search_label" for="search">Поиск: </label>
            <input class="search_input" type="text" id="search" name="search">
            <input class="search_submit" type="submit" value="Найти">
        </form>
        <ul class="login__nav">
            <li>
                <a sec:authorize="!hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/login">
                    Вход
                </a>
            </li>
            <li>
                <a sec:authorize="hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/profile">
                    Личный профиль
                </a>
            </li>
            <li>
                <a sec:authorize="!hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/register">
                    Регистрация
                </a>
            </li>
            <li>
                <a sec:authorize="hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/logout">
                    Выход
                </a>
            </li>
        </ul>
    </nav>
</header>

<section class="section_middle">
    <div>
    </div>
    <form class="grid-container-genres" action="#" method="post"
          th:object="${books}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <div class="genre-header">
            <div class="genre-header-flex">
                <label for="title">
                    Название
                    <input type="text" name="title" id="title" th:field="*{title}">
                </label>
                <button class="grid-header-a" type="submit">Сохранить</button>
                <a th:if="${books.id != null}"
                   class="grid-header-a"
                   th:href="@{/books/{id}(id=${books.id})}"> <!-- Fixed: was series.id -->
                    Отмена
                </a>
                <a th:if="${books.id == null}"
                   class="grid-header-a"
                   th:href="@{/books}">
                    Отмена
                </a>
            </div>
        </div>
        <div class="grid-flex-column">
            <label for="description">
                Описание
                <input type="text" name="description" id="description" th:field="*{description}">
            </label>
            <label for="image">
                Фотография
                <input type="file" name="image" id="image" accept="image/*">
            </label>
            <label for="isbn">
                ISBN
                <input type="text" name="isbn" id="isbn" th:field="*{isbn}">
            </label>
            <label for="language">
                Язык
                <input type="text" name="language" id="language" th:field="*{language}">
            </label>
            <label for="pages">
                Количество страниц
                <input type="number" name="pages" id="pages" th:field="*{pages}">
            </label>
            <label for="price">
                Цена
                <input type="number" name="price" id="price" th:field="*{price}">
            </label>
            <label for="release_date">
                Дата выхода
                <input type="date" name="release_date" id="release_date" th:field="*{release_date}">
            </label>
            <label for="status">
                Статус
                <input type="text" name="status" id="status" th:field="*{status}">
            </label>
            <label for="adult_check">
                Только для взрослых
                <input type="checkbox" name="adult_check" id="adult_check" th:field="*{adult_check}">
            </label>
        </div>
    </form>
    <div>

    </div>
</section>
<footer class="footer">
    <a class="footer-links" href="/about">
        О создателе
    </a>
    <a class="footer-links" href="/contacts">
        Контакты
    </a>
</footer>
</body>
</html>