<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<head>
    <title>Ошибка - Календарь релизов ИД "Инженерия Данных"</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/styles/style.css" th:href="@{/styles/style.css}">
</head>
<body>
<header class="header__nav">
    <nav class="nav__list">
        <button class="menu-toggle" id="menuToggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="header__list" id="headerList">
            <li>
                <a href="/">
                    Главная
                </a>
            </li>
            <li>
                <a href="/books">
                    Книги
                </a>
            </li>
            <li>
                <a href="/authors">
                    Авторы
                </a>
            </li>
            <li>
                <a href="/series">
                    Серии
                </a>
            </li>
            <li>
                <a href="/genres">
                    Жанры
                </a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN')">
                <a  href="/users">
                    Пользователи
                </a>
            </li>
            <li sec:authorize="hasAnyRole('MANAGER', 'ADMIN')">
                <a href="/metrics">
                    Метрики
                </a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN')">
                <a href="/admin/csv">
                    CSV Управление
                </a>
            </li>
        </ul>
        <ul class="login__nav" id="loginNav">
            <li>
                <a sec:authorize="!hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/login">
                    Вход
                </a>
            </li>
            <li>
                <a sec:authorize="hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/profile">
                    Личный профиль
                </a>
            </li>
            <li>
                <a sec:authorize="!hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/register">
                    Регистрация
                </a>
            </li>
            <li>
                <a sec:authorize="hasAnyRole('USER', 'EDITOR', 'ADMIN', 'MANAGER')" href="/logout">
                    Выход
                </a>
            </li>
        </ul>
    </nav>
</header>

<section class="section_middle">
    <div class="view-container">
        <div class="view-card">
            <div class="view-header">
                <h1 class="view-title" th:text="${errorCode} + ' - ' + ${errorMessage}"></h1>
            </div>
            
            <div class="view-content detail-info-container">
                <div class="view-details">
                    <div class="view-detail-item">
                        <p class="detail-value" style="font-size: 18px; color: #dc2626;" th:text="${errorDescription}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <a class="footer-links" href="/about">
        О создателе
    </a>
    <a class="footer-links" href="/contacts">
        Контакты
    </a>
</footer>
</body>
</html>

